<% layout('layouts/boilerplate')%>
    <h1>Edit Attraction</h1>
    <form action="/attractions/<%=attraction._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="attraction[name]" value="<%=attraction.name%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="attraction[location]" value="<%=attraction.location%>">
        </div>
        <button>Update Attraction</button>
    </form>
    <a href="/attractions/<%=attraction._id%>">Back to attraction</a>