<% layout('layouts/boilerplate')%>
    <form action="/attractions" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="attraction[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="attraction[location]">
        </div>
        <button>Add Attraction</button>
    </form>
    <a href="/attractions">All Attractions</a>